<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Try the burgers YUM!</title>
	</head>
	<body>
		<div class="center">
		<img src="./assets/img/burger.png" alt="No Image!">
		</div>
		{{{ body }}}
	</body>
</html>
